* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

h1 {
  padding-bottom: 100px;
}

body {
  background-image: linear-gradient(0deg, #f5f5f5, #ddfcdd, #222222);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

main {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 20px 20px0 rgb(133, 191, 181, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px, 0;
  z-index: 10;
}

h2 {
  font-size: 1rem;
  text-transform: capitalize;
}
figure {
  position: relative;
  width: 110px;
}

figure::after {
  content: '';
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50% 50%);
}

img {
  border-radius: 50%;
  width: inherit;
  height: 110px;
  object-fit: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

/* activates with JavaScript */
main.play img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

button {
  background-color: transparent;
  border: 0;
  color: #757575;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

#play {
  color: #494949;
  font-size: 30px;
}

.music-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 70px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px, 10px, 10px, 150px;
  opacity: 1;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

main.play .main-container {
  opacity: 1;
  transform: translateY(-100%);
}

.progress-container {
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

/* width works with javascript */
.progress {
  background-color: #27c5ff;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 100ms linear;
}

/* body {
  background-image: linear-gradient(45deg, blue, red);
} */

/* body {
  color: linear-gradient(45deg, blue, red);
} */ ;
